<div>
   <p>
  {{#each reports}}
  Report ID: {{id}}<br>
  Offender ID: {{offender_id}}<br>
  {{violation}}<br>
  {{date}}<br>
  {{comment}}<br>
  <img style="width: 33%" src="{{image}}"><img>
  <br>
  {{/each}}
  </p>
</div>